.Circulos {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(40px);
  animation: circular 50s linear infinite both;
  background-color: var(--negro-7);

  &-1 {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0%;
    left: 0%;
    animation: circular 50s linear infinite both;
  }
  &-path1 {
    fill: #2e8b57;
  }
  &-2 {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0%;
    right: 0%;
    animation: circular 50s linear infinite both;
  }
  &-path2 {
    fill: rgb(111, 0, 155);
  }
  &-3 {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0%;
    left: 0%;
    animation: circular 50s linear infinite both;
  }
  &-path3 {
    fill: rgb(165, 127, 1);
  }
  &-4 {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0%;
    right: 0%;
    animation: circular 50s linear infinite both;
  }
  &-path4 {
    fill: rgb(0, 59, 155);
  }
}

@keyframes circular {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
