@import '../../scss/mixins';
@import '../../scss/reset';

.Principal {
  height: 90vh;
  @include flex(column, nowrap, center, center);

  &-h1 {
    font-size: clamp(2.2rem, 6vw, 5.5rem);
    font-weight: 600;
    text-align: center;
  }
  &-h2 {
    font-size: clamp(1.7rem, 5vw, 4rem);
    font-weight: 600;
  }
  &-ul {
    margin: 3rem 0 6rem;
    @include flex(row, nowrap, center, center);
    gap: 4rem;
  }
  &-li {
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    font-weight: 600;
    text-align: center;
  }
  &-boton {
    padding: 1rem 2rem;
    border: 1px solid var(--blanco-2);
    border-radius: 2rem;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: var(--negro);
      border-color: var(--blanco);
    }
  }
}
