@import '../../scss/mixins';
@import '../../scss/reset';

.Header {
  position: fixed;
  z-index: 2;
  @include flex(row, nowrap, space-between, center);
  height: 4rem;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.272);
  // box-shadow: 0px 10px 10px 5px var(--negro-5);
  top: 0;
  width: 100%;

  &-logo {
    margin-left: 2rem;
  }

  &-navbar {
    @include flex(row, nowrap, space-between, center);
    gap: 2rem;
  }

  &-ul {
    @include flex(row, nowrap, space-between, center);
    gap: 2rem;
  }
  &-li {
  }
  &-a {
  }
  &-cv {
    background-color: crimson;
    margin-right: 2rem;
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
  }
}
