@import '../../scss/mixins';
@import '../../scss/reset';

.Navbar {
  // background-color: aqua;
  @include flex(row, nowrap, space-between, center);
  height: 4rem;
  background-color: var(--negro-5);

  &-ul {
    // background-color: red;
    @include flex(row, nowrap, space-between, center);
    gap: 1.5rem;
  }
  &-li {
  }
  &-a {
  }
}
