@import '../../scss/mixins';
@import '../../scss/reset';

.Contacto {
  @include flex(column, nowrap, center, center);
  height: 100vh;
  &-h2 {
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 600;
    margin: 0 0 4rem;
  }
  &-p {
  }
  &-form {
    max-width: 45rem;
    width: auto;
    margin: 4rem 0;
    background-color: var(--negro-5);
    padding: 1rem;
    border-radius: 1rem;
  }
  &-label {
  }

  &-error {
    margin: 0.5rem 0 0;
    color: crimson;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &-input {
    border-bottom: 1px solid white;
    margin: 1rem 0;
    min-width: 40rem;
    width: auto;
    outline: none;
  }
  &-textArea {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 1rem 0;
    min-width: 40rem;
    width: auto;
    outline: none;
  }

  &-button {
    padding: 1rem 2rem;
    border: 1px solid var(--blanco-2);
    border-radius: 2rem;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: var(--negro);
      border-color: var(--blanco);
      cursor: pointer;
    }
  }
}
