@import './mixins';
@import './reset';
// @import '../components/navbar/navbar.scss';

body {
  background-color: lightblue;
}

.Wrapper {
  max-width: 120rem;
  margin: auto;
  background-color: black;
}

.Circulos {
  &-1 {
  }
  &-2 {
  }
  &-3 {
  }
  &-4 {
  }
}

.img {
  max-width: 20rem;
}
